@{
    ViewData["Title"] = "About";
}


<div class="row">
    <br />
    <div class="col-md-6">
        <img src="~/images/homepage.jpg" alt="aboutus" style="" class="img-responsive" />
    </div>
    <div class="col-md-6">
        <h2>About Us</h2>
        <p style="text-align:justify;">
            Second Families is a 501(c) (3) nonprofit serving refugee families in Southern California. 
            Founded in 2016, Second Families provides assistance with non-food items (furniture, clothing, 
            school supplies, household goods), as well as opportunities for education and enrichment scholarship.
            Our aim is to connect families to resources that will ease their transition and connect them to new American
            friends, making them feel safe and comfortable in their new home.
        </p>    
    </div>

</div>

<div class="row" style="margin:0px; margin-top:30px;">
   
        <p style="text-align:justify;">
            Most of the families in our program originate from areas of conflict in the Middle East: Syria, 
            Iraq and Afghanistan.  Syrian refugees have fled their country since the onset of the Syrian Civil 
            War in 2011 and have sought asylum in other countries, including the United States.  Most of these 
            families fled the conflict in Syria early, in 2011 or 2012.  They made their way to Refugee camps, 
            where they waited for up to four years, having applied for political asylum or refugee status with the 
            USCIS (Unites States Citizenship and Immigration Services). Many of our Iraqi and Afghan families have 
            come here after serving side-by-side with US military troops in campaigns in their home countries. 
            They are provided expedited access and special visas to come to the US.
        </p>

    <p style="text-align:justify;">
        Most refugees arrive with only one suitcase that holds all their earthly belongings.
        Many have spent all of their savings, waiting for their applications to be approved. 
        Many people arrive here with barely a change of clothing, to say nothing of 
        what is needed to set up a home. Most families arrive with great need.
    </p>

    <p style="text-align:justify;">
        Once here in the United States, Refugee Resettlement Agencies provide new arrival families with 
        an apartment, a small cash allowance, and food stamps. Welfare payments are intended to cover rent, 
        but often it is not enough. Resettlement agencies offer classes in English, job search training, etc., 
        but they do not provide families with much-needed basic household supplies: furniture, clothing, school
        supplies, toys, bedding, cooking and cleaning items.
    </p>

    <p style="text-align:justify;">
        Most new arrival family units are comprised of a mother, father and three to four children, 
        though some families have additional relatives (elderly parents) with them as well.  
        Some of these families have special needs (medical conditions, disabilities), and need extra attention. 
        They have all been through a great deal in the past few years, and most families are relieved to be in
        Southern California, where they feel safe. While the number one priority for these families is to find work, 
        our goal is to make sure that their lives are improved by providing basic tools for these families to get on 
        their feet.<span style="font-weight:bold;">
            By providing household items for these displaced families, they do not have to spend the little money
            they have, which can be used for more important things, like phone service, medicine, and rent.
        </span>
    </p>

    <p style="text-align:justify;">
        We also provide scholarship for enrichment activities (sports programs, extracurricular school activities) 
        as well as summer camp programs for our families’ children. Exposure to new activities and hobbies is critical
        in building self-esteem and confidence in new arrival children. We are excited to give kids a chance to be good
        at something, and our fundraising in this area is ongoing.
    </p>

    <p style="text-align:justify;">
        Our board of directors is comprised of volunteers from the community and representatives from the new 
        arrival communities themselves. We are an all-volunteer organization, and it is important for us to have 
        representation among the families with whom we work. We are very proud of our efforts thus far, and we 
        encourage you to join us!


    </p>



</div>

