@{
    ViewData["Title"] = "Contact";
}


<div class="row">
    <br/>
    <div class="col-md-9">
        <img src="~/images/CajonMap.png" alt="locateus" style="" class="img-responsive" />
    </div>
    <div class="col-md-3">
        <h2>Contact Us</h2>
        <address>
            P.O. Box 5391, Glendale, CA 91221<br />
            Serving new arrival families in Southern California<br />
        </address>

        <address>
            <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>

    </div>
    
</div>

