@{
    ViewData["Title"] = "Contact";
}


<div class="row">
    <br />
    @*<div class="col-md-9">
        <img src="~/images/CajonMap.png" alt="locateus" style="" class="img-responsive" />
    </div>*@
    <div class="col-md-12">
        <h3>LINKS & PARTNERS: </h3>
        <hr/>
        
        <p style="font-weight:bold; color:gray;">SAN DIEGO-AREA RESETTLEMENT AGENCIES:</p>
        <p>Catholic Charities : <a href="https://www.ccdsd.org/ ">https://www.ccdsd.org/ </a></p>

        <p>International Rescue Committee: <a href="https://www.rescue.org/united-states/san-diego-ca">
                                               https://www.rescue.org/united-states/san-diego-ca/ </a></p>

        <p>Alliance for African Assistance: <a href="http://www.alliance-for-africa.org/">http://www.alliance-for-africa.org/</a></p>

        <p>Jewish Family Services: <a href="http://www.jfssd.org/">http://www.jfssd.org/</a></p>

        <br/>
        <p style="font-weight:bold; color:gray;">INTERNATIONAL ASSISTANCE:</p>

        <p>United Nations High Commissioner for Refugees (UNHCR): <a href="http://www.unhcr.org/en-us/">http://www.unhcr.org/en-us/</a></p>

        <p>International Organization for Migration (IOM): <a hhref="https://www.iom.int/">https://www.iom.int/</a></p>

        <p>US Agency for International Development (USAID): <a href="https://www.usaid.gov/">https://www.usaid.gov/</a></p>


        <br/>
        <p style="font-weight:bold; color:gray;">COMMUNITY AGENCIES:</p>

        <p>Syrian Community Network: <a href="http://syriancommunitynetwork.org/national/index.php/chapters/san-diego/">
                                         http://syriancommunitynetwork.org/national/index.php/chapters/san-diego/</a></p>

        <p>Family Welcome Center: <a href="http://familywelcomecenter.com/">http://familywelcomecenter.com/</a></p>

        <p>New Neighbor Relief: <a href="https://www.newneighborrelief.org/about/">https://www.newneighborrelief.org/about/</a></p>

        <p>No One Left Behind: <a href="http://nooneleft.org/">http://nooneleft.org/</a></p>

        <p>Miry’s List: <a href="https://miryslist.org/">https://miryslist.org/</a></p>

        <p>Tiyya Foundation: <a href="https://www.tiyya.org/">https://www.tiyya.org/</a></p>

        <p>Public Consulting Group: <a href="http://www.publicconsultinggroup.com/">http://www.publicconsultinggroup.com/</a></p>

        <p>Legal Aid Society of San Diego: <a href="https://www.lassd.org/">https://www.lassd.org/</a></p>
        
    </div>

</div>

