@model DonateGoodsViewModel

@using Microsoft.AspNetCore.Identity
@using SecondFamilies.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@section styles{
    <environment include="Development">
        <link rel="stylesheet" href="~/css/Donate.css" asp-append-version="true" />
    </environment>
}


<div class="row" style="padding:10px;">
    <h3>Donate us</h3>
    <hr />
    <p style="font-weight:bold; color:gray;">Thank you for your interest in supporting new arrival families! There are many ways to contribute:</p>


    <div class="col-md-12" style="margin-top:20px;">
        <ul class="nav nav-tabs">
            <li><a asp-area="" asp-controller="Account" asp-action="Donate">Donate Money</a></li>
            <li class="active"><a data-toggle="tab" href="#dgoods">Donate Goods & Items</a></li>
            <li><a data-toggle="tab" href="#damazon">Donate via Amazon Wish List</a></li>
        </ul>

        <div class="tab-content">
            @*<div id="dmoney" class="tab-pane fade in active">
                    <div class="row">
                        <div class="col-md-4">
                            <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                                <p style="margin-top:20px; margin-bottom:20px; color:#5cb85c; font-size:13px;">
                                    <i>
                                        Your generous donation sustains community support to families of refugees,
                                        low-income immigrants, and displaced Americans.
                                    </i>
                                </p>


                                <div class="form-group">
                                    <label asp-for="Amount"></label>
                                    <input style="border:1px solid green;" asp-for="Amount" class="form-control" />
                                    <span asp-validation-for="Amount" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="FirstName"></label>
                                    <input asp-for="FirstName" class="form-control" />
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="LastName"></label>
                                    <input asp-for="LastName" class="form-control" />
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="PhoneNumber"></label>
                                    <input asp-for="PhoneNumber" class="form-control" />
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Address"></label>
                                    <input asp-for="Address" class="form-control" />
                                    <span asp-validation-for="Address" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Allocation"></label>
                                    <select asp-for="Allocation" class="form-control">
                                        <option value="generalfund">General Fund</option>
                                        <option value="summercamp">Summer Camp</option>
                                        <option value="extracurricularactivities">Extracurricular Activities</option>
                                    </select>
                                </div>

                                <hr />
                                <p style="margin-top:20px; color:rgb(100,100,100); font-size:13px;">
                                    Please enter Your Email and  Password tp Create and Manage Your Account :
                                </p>

                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Email"></label>
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Password"></label>
                                    <input asp-for="Password" class="form-control" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ConfirmPassword"></label>
                                    <input asp-for="ConfirmPassword" class="form-control" />
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                                <button type="submit" class="btn btn-success">Donate</button>
                            </form>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-4">
                            <img src="~/images/donatemoney.jpg" alt="donatemoney" style="margin:auto; margin-top:20%" class="img-responsive" />
                        </div>
                    </div>
                </div>*@

            <div id="dgoods" class="tab-pane fade in active">
                <div class="row">
                    <div class="col-md-4">
                        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" enctype="multipart/form-data">
                            <p style="margin-top:20px; margin-bottom:20px; color:#5cb85c; font-size:13px;">
                                <i>
                                    Your generous donation sustains community support to families of refugees,
                                    low-income immigrants, and displaced Americans.
                                </i>
                            </p>


                            <div class="form-group">
                                <label asp-for="Item"></label>
                                <input style="border:1px solid green;" asp-for="Item" class="form-control" />
                                <span asp-validation-for="Item" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Quantity"></label>
                                <input asp-for="Quantity" class="form-control" />
                                <span asp-validation-for="Quantity" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="ImageFile"></label>
                                <input asp-for="ImageFile" type="file" name="ItemImage" multiple class="form-control" />
                                <span asp-validation-for="ImageFile" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="NeedPickup"></label>
                                <select asp-for="NeedPickup" class="form-control">
                                    <option value="no">No</option>
                                    <option value="yes">Yes</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label asp-for="CanDropOff"></label>
                                <select asp-for="CanDropOff" class="form-control">
                                    <option value="no">No</option>
                                    <option value="yes">Yes</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label asp-for="DatePickDrop"></label>
                                <input asp-for="DatePickDrop" class="form-control" />
                                <span asp-validation-for="DatePickDrop" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="FirstName"></label>
                                <input asp-for="FirstName" class="form-control" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="LastName"></label>
                                <input asp-for="LastName" class="form-control" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="PhoneNumber"></label>
                                <input asp-for="PhoneNumber" class="form-control" />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Address"></label>
                                <input asp-for="Address" class="form-control" />
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>


                            @if (SignInManager.IsSignedIn(User))
                            {

                            }
                            else
                            {
                                <hr />
                                <p style="margin-top:20px; color:rgb(100,100,100); font-size:13px;">
                                    Please enter Your Email and  Password tp Create and Manage Your Account :
                                </p>

                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Email"></label>
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Password"></label>
                                    <input asp-for="Password" class="form-control" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ConfirmPassword"></label>
                                    <input asp-for="ConfirmPassword" class="form-control" />
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                            }


                            <div class="form-group" style="display:none;">
                                <label asp-for="DonationType"></label>
                                <input asp-for="DonationType" value="donategoods" class="form-control" hidden />
                                <span asp-validation-for="DonationType" class="text-danger"></span>
                            </div>

                            <button type="submit" class="btn btn-success">Donate</button>
                        </form>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-4">
                        <img src="~/images/Slide10.jpg" alt="donategoods" style="margin:auto; margin-top:20%" class="img-responsive" />
                    </div>
                </div>
            </div>

            <div id="damazon" class="tab-pane fade in">
                <div class="row">
                    <div class="col-md-6 col-md-offset-1 col-sm-8 col-sm-offset-2 col-xs-12 text-center">
                        <p style="margin-top:20px; margin-bottom:20px; color:#5cb85c; font-size:13px;">
                            Your generous donation sustains community support to families of refugees,
                            low-income immigrants, and displaced Americans.
                        </p>
                        <hr />
                        <p>
                            Every family in our program has an
                            Amazon Wish list – a list of household items that the family needs to get
                            back on their feet.
                            Check out our Amazon lists HERE: <a target="_blank" href="https://www.amazon.com/gp/registry/wishlist/1C7TMCZMRNLA/ref=nav_wishlist_lists_5">Amazon List</a>.
                        </p>
                        <a href="https://www.amazon.com/gp/registry/wishlist/1C7TMCZMRNLA/ref=nav_wishlist_lists_5" target="_blank">
                            <img target='_blank' src="~/images/amazonwish.png" class='hidden-lg hidden-md img-responsive' style='margin:20px auto'>
                        </a>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-8 text-center">
                        <!--4-->
                        <div class="btn-group">
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/3B80YD2046VVK?&amp;sort=default" class="btn btn-primary example1">A01</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/45SJP6246CU6?&amp;sort=default" class="btn btn-primary example1">A02</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/29CKB5QZ4QKOP?&amp;sort=default" class="btn btn-primary example1">A04</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/3864BO5M0G5JJ?&amp;sort=default" class="btn btn-primary example1">A05</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/3DGUR6OT15LVH?&amp;sort=default" class="btn btn-primary example1">A06</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/377T7QEVC3HO7?&amp;sort=default" class="btn btn-primary example1">A08</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/2ERGZHDBY4LIQ?&amp;sort=default" class="btn btn-primary example1">A09</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/19ZC46BFNXJQX?&amp;sort=default" class="btn btn-primary example1">AA01</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/G2RZDU70BSMN?&amp;sort=default" class="btn btn-primary example1">AA02</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/3S4ZM1C02VO3V?&amp;sort=default" class="btn btn-primary example1">AA03</a>
                        </div>
                        <br>
                        <!--12-->
                        <div class="btn-group">
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/36W16UPV1IQGS?&amp;sort=default" class="btn btn-primary example1">AA04</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/2RTRUFAU8SXQL?&amp;sort=default" class="btn btn-primary example1">AA05</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/2PEUOSEJB13JO?&amp;sort=default" class="btn btn-primary example1">AB02</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/3L37Z5I1SQ0LL?&amp;sort=default" class="btn btn-primary example1">AH01</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/13S9GANVTS5OR?&amp;sort=default" class="btn btn-primary example1">AH02</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/18H7XS8RT4ZE6?&amp;sort=default" class="btn btn-primary example1">AH03</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/3R3V54NNFUA0S?&amp;sort=default" class="btn btn-primary example1">AH04</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/1L8KK3TIH5UM6?&amp;sort=default" class="btn btn-primary example1">AH05</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/L3KR7KZAX6QG?&amp;sort=default" class="btn btn-primary example1">AJ01</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/3M4F6367ST444?&amp;sort=default" class="btn btn-primary example1">AJ02</a>
                        </div>
                        <br>
                        <!--24-->
                        <div class="btn-group">
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/1KLQ9BITMK0VI?&amp;sort=default" class="btn btn-primary example1">AK01</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/2WCK1DKMYKUCI?&amp;sort=default" class="btn btn-primary example1">AL01</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/ZLIDCRBLIDEI?&amp;sort=default" class="btn btn-primary example1">AM01</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/3URX2M5MCH0C2?&amp;sort=default" class="btn btn-primary example1">AM02</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/NVTEHBISJD6O?&amp;sort=default" class="btn btn-primary example1">AQ01</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/1XK3ADVA7KBQ9?&amp;sort=default" class="btn btn-primary example1">AR01</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/TJ622GJM94CT?&amp;sort=default" class="btn btn-primary example1">AS01</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/OMHFKWJ4CK3F?&amp;sort=default" class="btn btn-primary example1">AS02</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/2B2C7A1ZRLXLI?&amp;sort=default" class="btn btn-primary example1">AS03</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/140VDL36OBB8O?&amp;sort=default" class="btn btn-primary example1">AS04</a>
                        </div>
                        <br>
                        <!--36-->
                        <div class="btn-group">
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/2XCBX2ZPP8TRJ?&amp;sort=default" class="btn btn-primary example1">AS05</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/2JF7LGL55BRCM?&amp;sort=default" class="btn btn-primary example1">AT01</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/2RGQ4N4KJ4OSG?&amp;sort=default" class="btn btn-primary example1">AZ01</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/1QZRLH6UE59WK?&amp;sort=default" class="btn btn-primary example1">AZ02</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/1ZWY4AUQJOG5Q?&amp;sort=default" class="btn btn-primary example1">AZ03</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/1FQG7G4SSF10V?&amp;sort=default" class="btn btn-primary example1">B01</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/167ZWSYGJRC9V?&amp;sort=default" class="btn btn-primary example1">B02</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/2APHB7OEF58XC?&amp;sort=default" class="btn btn-primary example1">B03</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/30O073HL87SY0?&amp;sort=default" class="btn btn-primary example1">B04</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/3EKHF73HPC7D7?&amp;sort=default" class="btn btn-primary example1">C01</a>
                        </div>
                        <br>
                        <div class="btn-group">
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/21N5EHL327EOQ?&amp;sort=default" class="btn btn-primary example1">G01</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/W3RHSWK5LN3B?&amp;sort=default" class="btn btn-primary example1">H01</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/3KB9GJM6H79CF/ref=cm_go_nav_hz" class="btn btn-primary example1">H02</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/VZ5NM61ZRBXO?&amp;sort=default" class="btn btn-primary example1">H03</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/4YC6YYBY6Z9B?&amp;sort=default" class="btn btn-primary example1">H04</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/3SL4UPACKWO4H?&amp;sort=default" class="btn btn-primary example1">H05</a>
                            <a target="_blank" href=" https://www.amazon.com/hz/wishlist/ls/2FG55PY5FRX78?&amp;sort=default" class="btn btn-primary example1">H06</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/1MMKDXHPY0KSO?&amp;sort=default" class="btn btn-primary example1">H07</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/3RBDY23VG7LHE?&amp;sort=default" class="btn btn-primary example1">I02</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/1ZXKGQBB40NHN?&amp;sort=default" class="btn btn-primary example1">I03</a>
                        </div>
                        <br>
                        <!--52-->
                        <div class="btn-group">
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/2HD5XVZ22O88R?&amp;sort=default" class="btn btn-primary example1">J01</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/3K76AD8IX1ODF?&amp;sort=default" class="btn btn-primary example1">J02</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/2K59D7XTIOV57?&amp;sort=default" class="btn btn-primary example1">K02</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/11AJI4WWBGN6L?&amp;sort=default" class="btn btn-primary example1">K03</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/38DPGCDEOH1UZ/ref=cm_go_nav_hz" class="btn btn-primary example1">K04</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/2YY7NMEFAY3JE?&amp;sort=default" class="btn btn-primary example1">K05</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/2L1SOI9F1N1YK?&amp;sort=default" class="btn btn-primary example1">K06</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/2HAYKG514PJPO?&amp;sort=default" class="btn btn-primary example1">K07</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/1U4FFW3TWRJZX?&amp;sort=default" class="btn btn-primary example1">M01</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/JPVFA32NVDZL?&amp;sort=default" class="btn btn-primary example1">M02</a>
                        </div>
                        <br>
                        <!--64-->
                        <div class="btn-group">
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/2O2CHQ7MH2LMB?&amp;sort=default" class="btn btn-primary example1">M03</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/HWEQHZIO20CG/ref=cm_go_nav_hz" class="btn btn-primary example1">M04</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/GGAX29C36HJK?&amp;sort=default" class="btn btn-primary example1">M05</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/1FGBZDRXF640E?&amp;sort=default" class="btn btn-primary example1">M06</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/2PLNAEKUSUHDM?&amp;sort=default" class="btn btn-primary example1">N01</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/1S6DBCG0MO803?&amp;sort=default" class="btn btn-primary example1">N02</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/3VNOWAB3LAR8W?&amp;sort=default" class="btn btn-primary example1">N04</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/4RNAF5EGHGN/ref=cm_go_nav_hz" class="btn btn-primary example1">O03</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/U0X1ENVRZIFP?&amp;sort=default" class="btn btn-primary example1">P01</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/1XRKERBNFNXQQ?&amp;sort=default" class="btn btn-primary example1">R01</a>
                        </div>
                        <br>
                        <!--72-->
                        <div class="btn-group">
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/25LL5CUUFEHG9?&amp;sort=default" class="btn btn-primary example1">R02</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/3RZXNLPFUYUAL?&amp;sort=default" class="btn btn-primary example1">R03</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/PU3P4F3V0AH3?&amp;sort=default" class="btn btn-primary example1">S01</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/206SPV2DEFUYS?&amp;sort=default" class="btn btn-primary example1">S02</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/2YM1CTO75OGDC?&amp;sort=default" class="btn btn-primary example1">S03</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/39ZN8RW2TSBXD?&amp;sort=default" class="btn btn-primary example1">S04</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/GJ5PCN3N01SZ?&amp;sort=default" class="btn btn-primary example1">S05</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/31NCF85Y7JKD4?&amp;sort=default" class="btn btn-primary example1">S06</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/34YR67X0S2DMM?&amp;sort=default" class="btn btn-primary example1">SH01</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/2WYA6ISCOJ7K?&amp;sort=default" class="btn btn-primary example1">SH02</a>
                        </div>
                        <br>
                        <!--84-->
                        <div class="btn-group">
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/119L24T7Q6WX8?&amp;sort=default" class="btn btn-primary example1">SH03</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/3EQ6KDZ6IGRMU?&amp;sort=default" class="btn btn-primary example1">SH04</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/3RGKQJ4JLOGIJ?&amp;sort=default" class="btn btn-primary example1">U01</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/1C7TMCZMRNLA?&amp;sort=default" class="btn btn-primary example1">Y01</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/32HLNR0S7TGRO/ref=cm_go_nav_hz" class="btn btn-primary example1">Z01</a>
                            <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/29125M7ATPEGB?&amp;sort=default" class="btn btn-primary example1">Z02</a>
                        </div>
                    </div>
                    <div class="col-md-4 hidden-xs hidden-sm">
                        <a href="https://www.amazon.com/gp/registry/wishlist/1C7TMCZMRNLA/ref=nav_wishlist_lists_5" target="_blank">
                            <img src="~/images/amazonwish.png" alt="amazonwishlist" style="width:100%;margin-top:10%" class="img-responsive" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

