<div class="row" style="padding:10px;">
    <h3>Donate us</h3>
    <hr />
    <p style="font-weight:bold; color:green;">Your Donation Was Successfull !Thank you for Your Support to Second families! </p>

</div>

